/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #sdl_settings .wp-filter + form {
 	padding:0 20px;
 }
 .toplevel_page_managedtranslation select {
 	max-width:100%;
 }
.toplevel_page_managedtranslation-network .column-blog_id {
	width: 20px;
}
.toplevel_page_managedtranslation-network .column-lang {
    width: 80px;
}
.toplevel_page_managedtranslation-network .column-options {
    width: 300px;
    position: relative;
}
.toplevel_page_managedtranslation-network .column-options button {
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
}
.toplevel_page_managedtranslation-network .column-src_lang img, .column-target_lang img {
	margin:0 5px;
}
.buttonform {
	display:inline-block;
}
.wp-core-ui .column-sdl_translation button {
    white-space: normal;
    display: block;
    height: auto;
    min-height: 28px;
    width:100%;
    line-height: 20px;
}
.toplevel_page_managedtranslation-network button:active {
  transform:translateY(-50%) !important;
}
.managedtranslation-icon-inprogress::before {
  content: "\f463";
  font: 20px/1 dashicons;
  transform-origin: center 10px;
  animation: managedtranslation_rotate_icon 3s linear infinite;
  display: inline-block;
  opacity:0.2;
}
@keyframes managedtranslation_rotate_icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.managedtranslation-icon-outofdate::before {
  content: "\f534";
  font: 20px/1 dashicons;
  opacity:0.2;
}
.managedtranslation-icon-translation::before {
  content: "\f176";
  font: 20px/1 dashicons;
  opacity:0.2;
}
.this-is-me::before {
  opacity:1;
}
.hide-next-link ~ a {
  display:none !important;
}
#sdl_settings .about-wrap {
  margin:0 auto;
  text-align: center;
}
#sdl_settings .about-text {
  margin-right:0;
}
#sdl_settings .about-wrap h1 {
  margin-top:0.67em;
  margin-right:0;
}
.sdl-welcome h3 {
  margin:0;
}
.sdl-welcome .welcome-panel-column-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sdl-welcome .welcome-panel-column {
  padding:2rem;
  width:33%;
  text-align:center;
}
.sdl-welcome .welcome-panel-column:first-child {
  width:calc(33% - 4rem);
}
.sdl-welcome .dashicons {
  font-size:9rem;
  height:9rem;
  width:9rem;
}
.sdl-divider {
  margin:2rem 0;
  height:1px;
  background-color: #ccc;
}
.sdl-blurb {
  text-align:center;
}
.sdl-blurb .feature {
  width:calc(49% - 4rem);
  float:left;
  padding:2rem;
}
