/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #sdl_settings .wp-filter + form {
 	padding:0 20px;
 }
 .toplevel_page_managedtranslation select {
 	max-width:100%;
 }
.toplevel_page_managedtranslation-network .column-blog_id {
	width: 20px;
}
.toplevel_page_managedtranslation-network .column-lang {
    width: 80px;
}
.toplevel_page_managedtranslation-network .column-options {
    width: 300px;
    position: relative;
}
.toplevel_page_managedtranslation-network .column-options button {
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
}
.toplevel_page_managedtranslation-network .column-src_lang img, .column-target_lang img {
	margin:0 5px;
}
.buttonform {
	display:inline-block;
}
.wp-core-ui .column-sdl_translation button {
    white-space: normal;
    display: block;
    height: auto;
    min-height: 28px;
    width:100%;
    line-height: 20px;
}
.toplevel_page_managedtranslation-network button:active {
  transform:translateY(-50%) !important;
}
.managedtranslation-icon-inprogress::before {
  content: "\f463";
  font: 20px/1 dashicons;
  transform-origin: center 10px;
  animation: managedtranslation_rotate_icon 3s linear infinite;
  display: inline-block;
  opacity:0.2;
}
@keyframes managedtranslation_rotate_icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.managedtranslation-icon-outofdate::before {
  content: "\f534";
  font: 20px/1 dashicons;
  opacity:0.2;
}
.managedtranslation-icon-translation::before {
  content: "\f176";
  font: 20px/1 dashicons;
  opacity:0.2;
}
.this-is-me::before {
  opacity:1;
}
.hide-next-link ~ a {
  display:none !important;
}
