/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #sdl_settings .wp-filter + form {
 	padding:0 20px;
 }
 .toplevel_page_managedtranslation select {
 	max-width:100%;
 }
.toplevel_page_managedtranslation-network .column-blog_id {
	width: 20px;
}
.toplevel_page_managedtranslation-network .column-lang {
    width: 80px;
}
.toplevel_page_managedtranslation-network .column-options {
    width: 300px;
    position: relative;
}
.toplevel_page_managedtranslation-network .column-options button {
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
}
.toplevel_page_managedtranslation-network .column-src_lang img, .column-target_lang img {
	margin:0 5px;
}
.buttonform {
	display:inline-block;
}
.wp-core-ui .column-sdl_translation button {
    white-space: normal;
    display: block;
    height: auto;
    min-height: 28px;
    width:100%;
    line-height: 20px;
}
.toplevel_page_managedtranslation-network button:active {
  transform:translateY(-50%) !important;
}
